<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3 top-margin50">
        <span class="col-xs-12 " style="background-color: lightgray;">	
	        <span class="col-xs-12 padding-top-bottom">existing User</span>
        <input class="col-xs-12 padding-top-bottom" placeholder="username" [(ngModel)]="credential.username">
        <input class="col-xs-12 padding-top-bottom" placeholder="password" [(ngModel)]="credential.password">
        <button class="col-xs-12 btn btn-primary padding-top-bottom" (click)="login()">Sign In</button>
        <span class="col-xs-12 padding-top-bottom" >Not a member? <a href="#/signup">Join now</a></span>
        </span>
    </div>
</div>
