<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3 center-block top-margin50">
        <span class="col-xs-12" style="background-color: lightgray;">
        <span class="col-xs-12">New user</span>
        <span class="col-xs-12 padding-top-bottom">Name</span>
        <input class="col-xs-12 padding-top-bottom" placeholder="firstname" [(ngModel)]="newuser.firstname">
        <span class="col-xs-12 padding-top-bottom">Lastname</span>
        <input class="col-xs-12 padding-top-bottom" placeholder="lastname" [(ngModel)]="newuser.lastname">
        <span class="col-xs-12 padding-top-bottom">username</span>
        <input class="col-xs-12 padding-top-bottom" placeholder="Email address" [(ngModel)]="newuser.username">
        <span class="col-xs-12 padding-top-bottom">Password</span>
        <input class="col-xs-12 padding-top-bottom" placeholder="Password" [(ngModel)]="newuser.password">
        <button class="col-xs-12 btn btn-primary padding-top-bottom" (click)="create()">Join Now</button>
        <span class="col-xs-12 padding-top-bottom">Already a member? <a href="#/login">Sign in</a></span>
        </span>
    </div>
</div>
