<div class="">
    <div class="row padding-10">
        <span class="btn btn-default pull-right" (click)="save()">
            save
        </span>
    </div>
    <div class="row">
        <card [info]="recipe.info" [isNew]="true"></card>
    </div>
    <div class="row strip-bar">
        <span class="col-xs-6 col-sm-6 text-bold text-bold">Ingredients</span>
        <div class="col-xs-6 col-sm-6 text-right">
            <span>
				<input [(ngModel)]="recipe.info.cook_time" placeholder="cooking  time">
				<i class="fa fa-clock-o"></i>
			</span>
            <span>
				<input placeholder="no. serving">
			</span>
            <span>
				<a (click)="addIngredients(recipe.ingredients)" class="btn btn-default">add</a>
			</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <span class="col-xs-12 col-sm-6 padding-10" *ngFor="#ingredient of recipe.ingredients; #i = index">
			<span  class="col-xs-1">{{i}}.</span>
            <input [(ngModel)]="ingredient.ingredient" class="col-xs-11" placeholder="ingredient qty, name">
            </span>
        </div>
    </div>
    <div class="row strip-bar">
        <span class="col-xs-12 col-sm-12 text-bold"> Direction</span>
        <span class="pull-right">
			<button (click)="addDescription(recipe.directions)">
				Add Direction
			</button>
		</span>
    </div>
    <div class="row padding-10">
        <span class="col-xs-12 padding-10">
            <textarea class="col-xs-12" rows="2" *ngFor="#direction of recipe.directions; #i = index" [(ngModel)]="direction.direction" placeholder="step {{i}}">
                
            </textarea>
        </span>
    </div>
</div>